<h1><%=identifier%>'s Data!!!!</h1>
    <table width=300 border=1>
    <tr>
      <td width="200">Site URL</td>
      <td>Count</td>
    </tr>
    <tr>
      <% data.select([:count, :site_url]).order(Sequel.desc(:count)).each do |url| %>
      <td> <%=url[:row] %></td>
      <td><%= url[:site_url] %></td>
      <td> <%=  url[:count] %></td> <br/></tr>
      <% end %>
    <br/>
  </table>
